.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App-header {
  display: inherit;
  flex: 1;
  background-color: #eee;
  padding: 0.5rem;
}

.App-body {
  display: inherit;
  flex: 9;
  flex-direction: row;
  padding: 0.5rem;
}

.App-products {
  display: inherit;
  flex: 6;
  flex-direction: row;
  padding-right: 0.5rem;
}

.App-ticket {
  display: inherit;
  flex: 4;
  flex-direction: column;
}
