.Button {
  display: inline-block;
  cursor: pointer;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.15rem;
  margin: 0.25rem;
  font-size: 0.8rem;
}

.Button:hover {
  filter: brightness(120%);
  text-decoration: none;
}