.Ticket {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.1rem;
  border: none;
  color: white;
}

.Ticket-header {
  display: inherit;
  flex: 2;
  background-color: #faf0f0;
}

.Ticket-items {
  display: inherit;
  flex: 6;
  background-color: #f0fab0;
}

.Ticket-total {
  display: inherit;
  flex: 2;
  background-color: #faccf0;
}

.Ticket-items:hover {
  background-color: #4FDF50;
  text-decoration: none;
}